{% extends 'AppViajes/index.html' %}


{% block titulo %}
<h1 class="site-heading text-center text-faded d-none d-lg-block">
    <span class="site-heading-lower">Buscar Viajes</span>
</h1>
{% endblock titulo %}


{% block contenido %}
</section>
<section class="page-section cta">
    <div class="container">
        <div class="row">
            <div class="col-xl-9 mx-auto">
                <div class="cta-inner bg-faded text-center rounded">
                    <h2 class="section-heading mb-4">
                        <span class="section-heading-upper">Busca todos los viajes disponibles en tu ciudad</span>
                    </h2>
                    <p class="mb-0"></p>
                </div>
            </div>
        </div>
    </div>  

<form action="{% url 'encontrarViajes' %}" method="get">
    {% csrf_token %}
    <table>
        <p>Ingresar busqueda: <input type="text" name="buscar" id="buscar"></p>
    </table>
    <input type="submit" value="Buscar">
</form>

{% endblock contenido %}