{% extends 'AppViajes/index.html' %}


{% block titulo %}
<h1 class="site-heading text-center text-faded d-none d-lg-block">
    <span class="site-heading-upper text-primary mb-3">Creando Experiencias</span>
    <span class="site-heading-lower">¡Crear un nuevo viaje aquí!</span>
</h1>
{% endblock titulo %}


{% block contenido %}
</section>
<section class="page-section cta">
    <div class="container">
        <div class="row">
            <div class="col-xl-9 mx-auto">
                <div class="cta-inner bg-faded text-center rounded">
                    <h2 class="section-heading mb-4">
                        <span class="section-heading-upper">Crear un viaje grupal</span>
                    </h2>
                    <p class="mb-0"></p>
                </div>
            </div>
        </div>
    </div> 
<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nombre Tutor</th>
            <th>Lugar</th>
            <th>Día</th>
            <th>Hora</th>
            <th>Ciudad</th>
            <th>Codigo Viaje</th>
        </tr>
        <tbody>
        {% for c in crear_viaje %}
           <tr>
               <td>{{ c.id }}</td>
               <td>{{ c.nombre_tutor }}</td>
               <td>{{ c.lugar }}</td>
               <td>{{ c.dia }}</td>
               <td>{{ c.hora }}</td>
               <td>{{ c.ciudad }}</td>
               <td>{{ c.codigo_viaje }}</td>
           </tr>
        {% endfor %}
        </tbody>
</table> 
{% endblock contenido %}