{% extends 'AppViajes/index.html' %}


{% block titulo %}
<h1 class="site-heading text-center text-faded d-none d-lg-block">
    <span class="site-heading-lower">Nuestra Comunidad</span>
</h1>
{% endblock titulo %}


{% block contenido %}
</section>
<section class="page-section cta">
    <div class="container">
        <div class="row">
            <div class="col-xl-9 mx-auto">
                <div class="cta-inner bg-faded text-center rounded">
                    <h2 class="section-heading mb-4">
                        <span class="section-heading-upper">Cuentanos tu Experiencia</span>
                    </h2>
                    <p class="mb-0"></p>
                </div>
            </div>
        </div>
    </div>  

<form action="" method="post">
    {% csrf_token %}
    <table>
        {{ form.as_table }}
    </table>
    <input type="submit" value="Experiencia">
</form>

{% endblock contenido %}