{% extends 'AppViajes/index.html' %}


{% block titulo %}
<h1 class="site-heading text-center text-faded d-none d-lg-block">
    <span class="site-heading-lower">Nuestra Comunidad</span>
</h1>
{% endblock titulo %}


{% block contenido %}

<table>
    <tr>
        <td width="200"><h2>¡Tu Experiencia!</h2></td>
        <td>
            <a
            href="{% url 'experienciaForm' %}"
            class="btn btn-primary btn-sm"
            ><i class="fa fa-plus fa-lg" title="Enviar"> </i>
            </a>
        </td>        
    </tr>
</table>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Ciudad</th>
            <th>Comentario</th>
        </tr>
        <tbody>
        {% for c in experiencia %}
           <tr>
               <td>{{ c.id }}</td>
               <td>{{ c.nombre }}</td>
               <td>{{ c.apellido }}</td>
               <td>{{ c.ciudad }}</td>
               <td>{{ c.comentario }}</td>
               <td>              
                </td>
           </tr>
        {% endfor %}
        </tbody>
</table>
{% endblock contenido %}
    