{% extends 'AppViajes/index.html' %}


{% block titulo %}   
            <h1 class="site-heading text-center text-faded d-none d-lg-block">
                <span class="site-heading-upper text-primary mb-3">Unete a Nuestra Comunidad</span>
                <span class="site-heading-lower">Rutas de Mujeres</span>
            </h1>
{% endblock titulo %}


{% block contenido %}
        </section>
        <section class="page-section cta">
            <div class="container">
                <div class="row">
                    <div class="col-xl-9 mx-auto">
                        <div class="cta-inner bg-faded text-center rounded">
                            <h2 class="section-heading mb-4">
                                <span class="section-heading-upper">Nuestro Propósito</span>
                            </h2>
                            <p class="mb-0">Empoderar y conectar a las mujeres a través de experiencias de viaje en grupo, fomentando la exploración, el crecimiento personal y la solidaridad entre ellas. Nuestro objetivo es crear un espacio seguro y de apoyo donde las mujeres puedan compartir aventuras, fortalecer su confianza y amistades, y crear recuerdos duraderos.¡Únete a nuestra comunidad y descubre un mundo de posibilidades!</p>
                        </div>
                    </div>
                </div>
            </div>
{% endblock contenido %}