{% extends 'AppViajes/index.html' %}


{% block titulo %}
<h1 class="site-heading text-center text-faded d-none d-lg-block">
    <span class="site-heading-lower">Nuestra Comunidad</span>
</h1>
{% endblock titulo %}


{% block contenido %}
<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Email</th>
            <th>Ciudad</th>
        </tr>
        <tbody>
        {% for c in registrarse %}
           <tr>
               <td>{{ c.id }}</td>
               <td>{{ c.nombre }}</td>
               <td>{{ c.apellido }}</td>
               <td>{{ c.email }}</td>
               <td>{{ c.ciudad }}</td>
           </tr>
        {% endfor %}
        </tbody>
</table>
{% endblock contenido %}
    